@use "variables" as *;

@mixin container($top: $defaultPadding, $right: $defaultPadding, $bottom: $defaultPadding, $left: $defaultPadding) {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  max-width: $maxPageWidth;
  padding: $top $right $bottom $left;
}

@mixin sublayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

@mixin grid($min, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  grid-gap: $gap;
  grid-auto-rows: auto;
}